 @model MeroBook.Models.LoginViewModal
@* @{
    Layout = null;
} *@
<title>Login - Mero Book</title>
<meta charset="utf-8"/>
<meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover"/>
<meta http-equiv="X-UA-Compatible" content="ie=edge"/>
<script src="~/js/tabler.min.js?1684106062" defer></script>
<script src="~/js/demo.min.js?1684106062" defer></script>
<link href="~/css/tabler.min.css?1684106062" rel="stylesheet"/>
<link href="~/css/tabler-flags.min.css?1684106062" rel="stylesheet"/>
<link href="~/css/tabler-payments.min.css?1684106062" rel="stylesheet"/>
<link href="~/css/tabler-vendors.min.css?1684106062" rel="stylesheet"/>
<link href="~/css/demo.min.css?1684106062" rel="stylesheet"/>
<link href="~/css/inter.css" rel="stylesheet"/>
<style>
    :root {
    --tblr-font-sans-serif: 'Inter Var', -apple-system, BlinkMacSystemFont, San Francisco, Segoe UI, Roboto, Helvetica Neue, sans-serif;
    }
    body {
    font-feature-settings: "cv03", "cv04", "cv11";
    }
</style>
<script src="~/js/demo-theme.min.js?1684106062"></script>
<div class="page page-center">
    <div class="container container-tight py-4">
        <div class="card card-md">
            <div class="card-body">
                    <h2 class="h2 text-center mb-4" style="color:#464cfa">Login to Mero Book</h2>
                @if (ViewBag.Errormessage != null)
                {
                    <h2 class="h2 text-center mb-4" style="color:red">@ViewBag.Errormessage</h2>
                }
                <form action="/Authentication/Login" method="POST" autocomplete="off" novalidate>
                    <div class="mb-3">
                    <label class="form-label">Email address</label>
                        <input type="email" name="UserName" class="form-control" placeholder="your@email.com" autocomplete="off">
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Password</label>
                        <div class="input-group input-group-flat">
                            <input type="password" name="Password" class="form-control" id="passwordField" placeholder="Password" autocomplete="off">
                            <span class="input-group-text toggle-password" title="Show password" data-bs-toggle="tooltip">
                                <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none" /><path d="M10 12a2 2 0 1 0 4 0a2 2 0 0 0 -4 0" /><path d="M21 12c-2.4 4 -5.4 6 -9 6c-3.6 0 -6.6 -2 -9 -6c2.4 -4 5.4 -6 9 -6c3.6 0 6.6 2 9 6" /></svg>
                            </span>
                        </div>
                    </div>
                    <div class="form-footer">
                    <button type="submit" class="btn btn-primary w-100">Sign in</button>
                    </div>
                </form>
                <div class="text-center text-muted mt-3">
                     Don't have account yet? <a class="tox-button--naked" onclick="location.href='@Url.Action("SignUp","Authentication")'" tabindex="-1" style="font-style:italic;color:#464cfa;">Sign up</a>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    document.addEventListener("DOMContentLoaded", function () {
        const togglePassword = document.querySelector(".toggle-password");
        const passwordField = document.getElementById("passwordField");

        togglePassword.addEventListener("click", function () {
            const type = passwordField.getAttribute("type") === "password" ? "text" : "password";
            passwordField.setAttribute("type", type);
        });
    });
  
</script>